[user]
	name = Kartikey Pandey
	email = pandeykartikey99@gmail.com
[core]
	editor = vim
[color]
	ui = auto
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
